
td {
	padding:50px
}

.transcription {
	font-size:1.2em; 
	line-height: 1.5
}

.add {
	vertical-align: super;
	font-size: 0.8em;
}

.del {
	text-decoration: line-through;
}

.red {
	color:red;
}

.grey {
	color:grey;
}